input {
  width: 300px;
  height: 45px;
  padding-left: 60px;
  padding-right: 20px;

  font-size: 20px;
  color: #bdbdbd;

  background-color: rgba(71, 71, 71, 50%);
  border: none;
  border-radius: 20px;

  &:hover,
  &:focus {
    background-color: rgb(221, 221, 221);

    &::placeholder {
      color: #fff;
    }

    .search-bar__icon {
      path {
        fill: #fff;
      }
    }
  }

  &::placeholder {
    color: #bdbdbd;
  }
}
